@import "./_mixin.scss";
@import "./_color.scss";
@import "./_variable.scss";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $light;
  @include display(row, center, center);
  .contact-info {
    width: 22%;
    height: 90%;
    border-radius: 5px;
    background-color: $dark;
    color: $light;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    @include display(column, left, flex-start);
    h2 {
      margin-top: 40px;
      padding-left: $p20;
    }
    .information {
      margin-bottom: 20px;
      padding-left: $p20;
      p {
        margin: 0;
      }
      span {
        color: $lighten;
        font-size: 12px;
      }
    }

    .social-icons {
      margin-top: auto;
      padding-left: $p20;
      i {
        color: $light;
        padding-left: $p10;
        padding-bottom: $p20;
      }
      a {
        text-decoration: none;
      }
    }
  }
  .contact-form {
    width: 40%;
    height: 84%;
    padding: 0 $p20;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 45px;
    .title {
      margin: 50px 0 20px 0;
      hr {
        height: 1px;
        background-color: $gray;
        border: none;
      }
    }
    .input-container {
      @include display(column, center, left);
      margin-bottom: 20px;
      .input {
        height: 30px;
        border: 1px solid $gray;
        border-radius: 5px;
      }
      input:focus {
        outline: none;
      }
      .message {
        height: 80px;
        border: 1px solid $gray;
        border-radius: 5px;
      }
    }
    .btn {
      width: 100%;
      height: 40px;
      background-color: $dark;
      color: $light;
      border: none;
      border-radius: 5px;
    }
  }
}
